{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Spaces{% endblock %}</h1>
{% endblock %} {% block content %}
<section class="new-space-section">
  <h1 class="space-form-title">New Space Form</h1>
  <form class="new-space-form" action="/spaces" method="post">
    <div class="field">
      <label class="label" for="title">Title</label>
      <div class="control">
        <input class="input" type="text" id="title" name="title" />
      </div>
    </div>
    <div class="field">
      <label class="label" for="description">Description</label>
      <div class="control">
        <input class="input" type="text" id="description" name="description" />
      </div>
    </div>
    <div class="field">
      <label class="label" for="price">Price</label>
      <div class="control">
        <input class="input" type="text" id="price" name="price" />
      </div>
    </div>
    <div class="field">
      <label class="label" for="address">Address</label>
      <div class="control">
        <input class="input" type="text" id="address" name="address" />
      </div>
    </div>
    <input class="button is-link" type="submit" value="Create Space" />
  </form>
</section>
{% endblock %}
