/* Ensure the html and body take up full viewport height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.new-space-form {
  width: 50%;
  min-width: 20rem;
}

.new-space-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.space-form-title {
  font-size: 5rem;
}

.notification {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.notification.is-fading {
  opacity: 0;
}

/* Center calender */
.datetimepicker {
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.navbar-brand .navbar-item img {
  max-height: 8rem; /* Adjust as needed */
  width: auto;
}

.navbar-brand .navbar-item h1 {
  font-size: 1.5rem !important;
  line-height: 1;
  white-space: nowrap;
}

nav.navbar {
  min-height: 8rem;
}

/* logo animation */
.navbar-brand .navbar-item img.animated-logo {
  transform-origin: bottom center;
}

@keyframes idleFloat {
  0% {
    transform: translateY(-5px) rotateY(-20deg);
  }
  50% {
    transform: translateY(5px) rotateY(20deg);
  }

  100% {
    transform: translateY(-5px) rotateY(-20deg);
  }
}
