<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
        <script
      src="https://kit.fontawesome.com/f91e3b0532.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}🪐bnb{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('get_all_spaces') }}">
          <h1 class="title is-1" style="color: #04d1b2;">🪐 saturn bnb</h1>
        </a>
      </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if current_user.is_authenticated %}
                <a href="" class="button is-info is-outlined"><strong>Hello {{ current_user.first_name }}!</strong></a>
                <a href="{{ url_for('get_all_requests') }}" class="button is-danger is-outlined"><strong>Requests</strong></a>
                <a href="{{ url_for('logout') }}" class="button is-warning is-outlined"><strong>Log out</strong></a>
              {% else %}
                <a href="{{ url_for('register') }}" class="button is-warning is-outlined">
                  <strong>Register</strong>
                </a>
              <a href="{{ url_for('login') }}" class="button is-info is-outlined"><strong>Log In</strong></a>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section is-flex-grow-1">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class="columns is-centered"> {# Centers the single column horizontally #}
                      <div class="column is-half is-two-thirds-tablet is-full-mobile"> {# Example widths #}
                          {% for category, message in messages %}
                              <div class="notification is-{{ category }} has-text-centered">
                                  <button class="delete" type="button" aria-label="Dismiss notification"></button>
                                  {{ message }}
                              </div>
                          {% endfor %}
                      </div>
                  </div>
                {% endif %}
            {% endwith %}


            {% block content %}
            {% endblock %}

        </div>
    </section>

    <footer class="footer pt-6 pb-6">
      <div class="content has-text-centered">
        <p><strong>saturn bnb</strong> group 1 <strong>© 2025</strong></p>
      </div>
    </footer>


    <script>
        // JavaScript to make the delete button work for notifications
        document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          });
        });
    </script>

  </body>
</html>