{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block content %}
  <div class="container is-max-tablet">
    <h1 class="title is-2 t-headline" style="color: #04d1b2">Register</h1>

    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="field">
        <label class="label">{{ form.username.label }}</label>
        <div class="control">{{ form.username(class="input") }}</div>
      </div>

      <div class="field">
        <label class="label">{{ form.first_name.label }}</label>
        <div class="control">{{ form.first_name(class="input") }}</div>
      </div>

      <div class="field">
        <label class="label">{{ form.last_name.label }}</label>
        <div class="control">{{ form.last_name(class="input") }}</div>
      </div>

      <div class="field">
        <label class="label">{{ form.password.label }}</label>
        <div class="control">{{ form.password(class="input") }}</div>
      </div>

      <div class="field">
        <label class="label">{{ form.email.label }}</label>
        <div class="control">{{ form.email(class="input") }}</div>
      </div>

      <div class="field">
        <label class="label">{{ form.phone_number.label }}</label>
        <div class="control">{{ form.phone_number(class="input") }}</div>
      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary is-outlined">
            {{ form.submit.label }}
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
