{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Requests{% endblock %}</h1>
{% endblock %} {% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title is-4 has-text-centered has-text-info">Bookings Received</h2>
          
          <div class="box">
            {% if current_user.is_authenticated %}
              {% for request in requests %} 
                {% if current_user.id == request.host_id %}
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img
                          src="{{ request.image_url }}"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>

                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4 t-space-title">
                            {{ request.title }}
                          </p>
                          <p class="subtitle is-6 t-space-address">
                            {{ request.address }}
                          </p>
                        </div>
                      </div>

                      <div class="content">
                        {{ request.description }}
                      </div>

                      <div class="media">
                        <div class="media-content">
                          <h1 class="title is-3 is-primary">
                              £{{ request.price }}
                          </h1>
                        </div>
                        <div class="media-right">
                          <h1 class="title is-3 is-primary">{{ request.date }}</h1>
                        </div>
                      </div>

                      <div class="media">
                        <div class="media-content">
                          <h4 class="is-size-4 is-primary">guest contact</h4>
                          <h4 class="title is-size-5 is-primary">
                            {{ request.guest_email }}
                          </h4>
                        </div>
                        <div class="media-right">
                          {% if request.status == 'pending' %}
                            <form action="{{ url_for('approve_reject_request', booking_id=request.booking_id, action='confirmed') }}" method="POST" style="display: inline;">
                              <button type="submit" class="t-approve-btn button is-success is-outlined mt-5">Approve</button>
                            </form>
                            <form action="{{ url_for('approve_reject_request', booking_id=request.booking_id, action='rejected') }}" method="POST" style="display: inline;">
                              <button type="submit" class="t-reject-btn button is-danger is-outlined mt-5 ml-2">Reject</button>
                            </form>
                          {% else%}
                            <h4 class="is-size-4 is-primary">status</h4>
                              {% if request.status == 'pending'%}
                                <h1 class="title is-size-4 has-text-warning">
                              {% endif %}
                              {% if request.status == 'confirmed'%}
                                <h1 class="title is-size-4 has-text-success">
                              {% endif %}
                              {% if request.status == 'rejected'%}
                                <h1 class="title is-size-4 has-text-danger">
                              {% endif %}
                                {{ request.status }}
                                </h1>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      <div class="column">
        <h2 class="title is-4 has-text-centered has-text-warning">Bookings Requested</h2>
          
          <div class="box">
            {% if current_user.is_authenticated %} 
              {% for request in requests %} 
                {% if current_user.id == request.guest_id %}
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img
                          src={{request.image_url}}
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>

                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4 t-space-title">
                            {{ request.title }}
                          </p>
                          <p class="subtitle is-6 t-space-address">
                            {{ request.address }}
                          </p>
                        </div>
                      </div>

                    <div class="content">
                      {{ request.description }}
                    </div>

                    <div class="media">
                      <div class="media-content">
                        <h1 class="title is-3 is-primary">
                          £{{ request.price }}
                        </h1>
                      </div>
                      <div class="media-right">
                        <h1 class="title is-3 is-primary">{{ request.date }}</h1>
                      </div>
                    </div>

              <div class="media">
                <div class="media-content">
                  <h4 class="is-size-4 is-primary">host contact</h4>
                    <h4 class="title is-size-5 is-primary">
                      {{ request.host_email }}
                    </h4>
                </div>
                <div class="media-right">
                  <h4 class="is-size-4 is-primary">status</h4>
                   {% if request.status == 'pending'%}
                      <h1 class="title is-size-4 has-text-warning">
                   {% endif %}
                    {% if request.status == 'confirmed'%}
                      <h1 class="title is-size-4 has-text-success">
                    {% endif %}
                    {% if request.status == 'rejected'%}
                     <h1 class="title is-size-4 has-text-danger">
                    {% endif %}
                        {{ request.status }}
                      </h1>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %} 
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}